# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Environment
.env
*.env

#env
advancerag



# App data
uploads/
vector_db/
flask_sessions/
evaluations/
*.log

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Models cache
.cache/
models/
